<h4>Categories: </h4>
<hr>
<div class="card">
    <div class="card-body">

    {{#each categories}}

    <a href="/categories/{{slug}}"><h5>{{name}}</h5></a>

    {{else}}

    {{/each}}
    
    </div>
</div>